@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//offcanvas styling

$offcanvas-horizontal-width: 200px;

.offcanvas {
  bottom: auto !important;
  border-radius: 0px 0px 0px 10px !important;
  background-color: #455d58 !important;
}

//linkhover effect
.link-hover {
  display: inline-block;
  position: relative;
  cursor: pointer; 

}

.link-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-in;
}

.link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// hero section styling

.hero-banner {
  background-image: url("../assets/hamburger-fries.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); 
  z-index: 1;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  max-width: 550px;
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .hero-banner {
    height: 80vh;
  }

  .text-box {
    padding: 2rem;
    max-width: 100%;
  }
}


//card styling

.custom-card-styling {
  border: 2px solid #455d58 !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card-styling:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20) !important;
}


$primary: #455d58;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';