@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


$offcanvas-horizontal-width: 200px;

.offcanvas {
  bottom: auto !important;
  border-radius: 0px 0px 0px 10px !important;
  background-color: #455d58 !important;
}

.link-hover {
  display: inline-block;
  position: relative;
  cursor: pointer; 

}

.link-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-in;
}

.link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


$primary: #455d58;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';